@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../app/style/utils.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
html,
body,
:root {
  height: 100%;
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.dash {
  @apply outline-dashed outline-red-400;
}
