@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../app/style/utils.css";

html,
body,
:root {
  height: 100%;
  background-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dash {
  @apply outline-dashed outline-red-400;
}
