@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  @apply relative flex p-1;
}

.post-icon {
  @apply cursor-pointer  rounded-full p-1 text-2xl transition-all duration-150 ease-in-out  hover:bg-gray-200 lg:text-4xl;
}

.counter {
  @apply absolute right-0 flex h-4 w-4 items-center justify-center rounded-full bg-red-400 text-[0.55rem] lg:h-5 lg:w-5 lg:text-[0.6rem];
}

.truncate-overflow {
  --max-lines: 2;
  position: relative;
  overflow: hidden;
  padding-right: 1rem;
  @apply max-h-[calc(1.5rem_*_var(--max-lines))] lg:max-h-[calc(2.4rem_*_var(--max-lines))];
}
.truncate-overflow-text {
  --max-lines: 3;
  position: relative;
  overflow: hidden;
  padding-right: 1rem;
  @apply max-h-[calc(1.25rem_*_var(--max-lines))] lg:max-h-[calc(1.75rem_*_var(--max-lines))];
}

.truncate-overflow-text-x {
  @apply truncate-overflow;
}
